<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">StoryBooks</a>
      <a href="#" data-target="main-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/stories"><i class="material-icons left">book</i>Public Stories</a></li>
        {{#if user}}
        <li><a href="/dashboard"><i class="material-icons left">dashboard</i>Dashboard</a></li>
        <li><a href="/stories/my"><i class="material-icons left">person</i>Welcome {{user.firstName}}</a></li>
        <li><a href="/auth/logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="main-menu">
  <li><a href="/stories"><i class="material-icons left">book</i>Public Stories</a></li>
  {{#if user}}
  <li><a href="/dashboard"><i class="material-icons left">dashboard</i>Dashboard</a></li>
  <li><a href="/stories/my"><i class="material-icons left">person</i>Welcome {{user.firstName}}</a></li>
  <li><a href="/auth/logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
  {{else}}
  <li><a href="/auth/google" class="waves-effect waves-light btn red darnken-1"><i class="material-icons left">input</i>LOGIN WITH GOOGLE</a></li>
  {{/if}}
</ul>